:root {
    --general-text: #312c27;
    --title-text: #1f1711;
    --general-bg: #F8FCFF;
    --accent-orange: #ffa55c;
    --peach-bg: #ffe0cb;
    --accent-lavanda: #ceaad0;
    --transition: all .4s;
    --border-radius: 20px;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--accent-text);
    background: var(--general-bg);
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main__program,
.main__gallery {
    padding-bottom: 145px;
}


.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    color: var(--title-text);
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: .82;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-orange);
    color: var(--general-text);
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 15px;
    height: 62px;
    transition: var(--transition);
}

.button:hover {
    background: #ff9138;
}


.modal {
    position: fixed;
    inset: 0;
    background: #00000075;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal {
    overflow: hidden;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--general-bg);
    border-radius: 20px;
    padding: 0 60px 60px;
    position: relative;
    max-width: 428px;
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    color: var(--title-text);
    font-family: Gabriola;
    font-size: 42px;
    font-weight: 400;
    line-height: 0.9;
}

.modal__text {}

.modal__form {}

.modal__form-label {
    margin-bottom: 10px;
}

.field__input {
    display: block;
    width: 100%;
    border: 1px solid #ac907a;
    background: #00000000;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-orange);
}

.field__input::placeholder {
    color: #ac907a;
    transition: var(--transition);
}

.field__input:hover::placeholder {
    color: var(--accent-orange);
}

.field {
    position: relative;
    display: block;

}

.field span {
    color: #ac907a;
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.button {}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}