@import "reset.css";
@import "global.css";

/* ==================== */
.header__top {}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    padding: 47px 0 51px 0;

}

header {
    background: rgb(20,20,20);
}

.header__logo {}

.nav__list {
    display: flex;
    gap: 50px;
    align-items: center;
    color: white;
}

.nav__item {
}

.nav__link {
    display: block;
    padding: 5px 0;
}

.header__icons {
    display: flex;
    color: black;
    justify-content: space-between;
    gap: 15px
}

.header__icons-cart {}

.header__icons-link {}

.header__icons-search {}

.header__icons-burger {}

.header__top-underline {}
