:root {
    --general-text: #312c27;
    --title-text: #1f1711;
    --general-bg: #F8FCFF;
    --accent-orange: #ffa55c;
    --peach-bg: #ffe0cb;
    --transition: all .4s;
    --border-radius: 20px;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--accent-text);
    background: var(--general-bg);
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* .button {
    background: var(--accent-orange);
    max-width: 360px;
    max-height: 60px;
    padding: 18px 97px;
    border-radius: 60px;
    font-weight: 500;
    line-height: 1.6;
    font-size: 16px;
    color: var(--general-text);
    display: block; 
    это был мой вариант, только щас додумался оставлять свои варианты и закоментить их(
} */
.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-orange);
    color: var(--general-text);
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 15px;
    height: 62px;
    transition: var(--transition);
}

.button:hover {
    background: #ff9138;
}


.modal {
    position: fixed;
    inset: 0;
    background: #00000075;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal {
    overflow: hidden;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--general-bg);
    border-radius: 20px;
    padding: 0 60px 60px;
    position: relative;
    max-width: 428px;
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    color: var(--title-text);
    font-family: Gabriola;
    font-size: 42px;
    font-weight: 400;
    line-height: 0.9;
}

.modal__text {}

.modal__form {}

.modal__form-label {
    margin-bottom: 10px;
}

.field__input {
    display: block;
    width: 100%;
    border: 1px solid #ac907a;
    background: #00000000;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-orange);
}

.field__input::placeholder {
    color: #ac907a;
    transition: var(--transition);
}

.field__input:hover::placeholder {
    color: var(--accent-orange);
}

.field {
    position: relative;
    display: block;

}

.field span {
    color: #ac907a;
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.button {}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
.header {
    background: url(../img/decor/bg-head.png) 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}


.nav__list {
    display: flex;
    gap: 4vh 40px;
}



.nav__link {
    display: block;
    padding-top: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;

    width: 34px;
    height: 34px;
    background: var(--accent-orange);
    border-radius: 50%;

    top: -14px;
    left: -11px;
    z-index: -1;

    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--accent-orange);
    display: block;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}


.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.header__hero {
    padding: 50px 0 140px;
}

/* --------------------------------------------- */
.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;

}

.hero__content {
    max-width: 520px;

}

.hero__announcement {
    color: #b197b3;
    line-height: 1.6;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__announcement span {
    display: flex;
    align-items: center;
}

.hero__announcement span::after {
    content: '';
    background: #b197b3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__announcement span:last-child:after {
    content: none;
}

.hero__title {
    color: var(--title-text);
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: .82;
    margin-bottom: 30px;

}

.hero__text {
    margin-bottom: 40px;
    max-width: 358px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    display: flex;
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    align-items: center;
    gap: 10px;
    max-width: 200px;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    background: var(--peach-bg);
    width: 78px;
    height: 78px;
    position: relative;
}

/* .hero__img-button::before {
    content: '';
    border: 1px solid var(--accent-orange);
    width: 87%;
    height: 87%;
    border-radius: 50%;
    position: absolute;
 мой вариант */
.hero__img-button img {
    padding: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--accent-orange);

    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover::before {
    opacity: 1;
}

/* ======================================================== */

.about {}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;

}

.about__img-control {
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    text-align: left;
    background: #957b97e6;
    border-radius: 20px;
    padding: 15px 20px;
    color: var(--general-bg);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    width: 78px;
    height: 78px;
    position: relative;
    background: var(--general-bg);
}

.about__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid #ceaad0;

    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__body {}

.about__heading {
    margin-bottom: 30px;
}

.about__title {
    font-family: Gabriola;
    font-size: 74px;
    line-height: 0.82;
    color: var(--title-text);
}

.about__title-text {}

.about__text {}

.about__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item{
    border-radius: 20px;
    background: var(--peach-bg);
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__grid-text {}

/* ================================================================== */
.footer {
    padding: 60px 0 66px;
    background: #ab8261;
    color: var(--general-bg);
}

.footer__inner {
    display: grid;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    justify-content: space-between;
    gap: 40px 30px;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__col:last-child {
    justify-items: end;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: '';
    position: absolute;

    width: 34px;
    height: 34px;
    background: var(--accent-orange);
    border-radius: 50%;

    top: -8px;
    left: -13px;
    z-index: -1;

    opacity: 0;
    transition: var(--transition);
}

.footer__col-link:hover::before {
    opacity: 1;
}



.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    display: block;
    transition: var(--transition);
}

.footer__col-number:hover {
    color: var(--accent-orange);
}

.footer__col-copy {
    color: #dec5b1;
}



.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}



.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-orange);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ---------------------------------------------- */
@media (max-width: 1200px) {
    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;

    }

    .hero__img {
        margin: 0;
        max-width: 377px;
    }


    /* ========================= */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
        justify-items: center;
    }
}

/* =================================== */
@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    .about__body {
        align-self: center;
    }
}

/* ================================= */
@media (max-width: 900px) {
    .nav {
        background: var(--general-bg);
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ------------------ */
    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }

}


/*================================================ */

@media (max-width: 800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    .hero__img {
        display: none;
    }

    /* ============================== */
    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
        
    }
    .about__body {
        text-align: center;
    }
    .about__grid {
        grid-template: none;
    }
}

@media (max-width: 600px) {
    .main__about {
        padding: 60px 0 80px
    }
    /* =========================== */
    .hero__title {
        font-size: 12vw;
    }
    
    .header__hero {
        padding-bottom: 80px;
    }
    /* =================================== */
    .about__grid {
        gap: 15px;
    }
    .about__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }
    .about__title {
        font-size: 12vw;
    }
    .about__grid-item {
    padding: 10px 15px;
}
    /* ============================== */


}
@media (max-width: 400px) {
    .modal__img{
        width: 50%;
        margin-top: -45px;
    }
    .modal__title {
        font-size: 35px;
    }
    .modal__window {
        padding: 0 15px 45px;
    }
}

/* .............................................................. */