.btn-open {
    width: 300px;
    height: 50px;
    font-size: 20px;
    background: #d5d1c5;
    color: rgb(114, 114, 114);
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    background: #000000c1;
}
.modal--open {
    display: flex;
}

.modal__window {
    position: relative;
    width: 50vw;
    min-height: 40px;
    padding: 50px 20px 20px 20px;
    background: #fda7a7;
    border-radius: 12px;
}

.modal__close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;

}
